@import "./utils/variables";

/**
 * Typography
 */

body {
  margin: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

body,
button,
input,
textarea {
  color: $color_body;
  font-family: $base-font;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

select {
  color: initial;
  font-family: $base-font;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 300;
  margin: 0 0 5px;
  color: darken($color_body, 20%);

  a {
    font-weight: 300;
  }
}

p,
ul,
ol,
table,
blockquote,
form {
  & + h2,
  & + header h2,
  & + h3,
  & + h4 {
    margin-top: 4em;
  }
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 0 0 2em;
}

p {
  margin: 0 0 0.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1;
}

dt {
  font-weight: 600;
}

dd {
  margin: 0 0 3em;
}

b,
strong {
  font-weight: 600;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  text-decoration: none;
  font-weight: 600;
  background: transparent;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

table {
  margin: 0 0 2em;
  width: 100%;
}

img {
  height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.
  display: block;
}

a {
  color: $color_links;
  text-decoration: none;
}

a,
input,
textarea,
button {
  &:focus {
    outline: 2px solid $color_woocommerce;
  }
}

body {
  background-color: $body-background;
  overflow-x: hidden;
}

.site {
  overflow-x: hidden;
}

.site-content,
.header-widget-region {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * Header
 */
.site-header {
  background-color: #2c2d33;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #9aa0a7;
  background-position: center center;
  position: relative;
  z-index: 999;
  border-bottom: 1px solid transparent;

  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    display: block;
    margin-bottom: 0;

    img {
      width: 100%;
      max-width: 210px;
    }
  }

  .widget {
    margin-bottom: 0;
  }
}

.site-branding {
  float: left;
  margin-bottom: 0;
  width: calc(100% - 120px);

  .site-title {
    font-size: 2em;
    letter-spacing: -1px;
    margin: 0;

    a {
      font-weight: 700;
    }
  }

  .site-description {
    font-size: -1em;
    display: none;
  }

  .logo {
    margin: 0;
  }
}

/**
 * Footer
 */
.site-footer {
  background-color: #f3f3f3;
  color: mix($color_body, #333);
  padding: 1em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: mix($color_body, #222);
  }

  a {
    color: $color_links;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    text-decoration: none;
  }
}

/**
 * Tables
 */
table {
  border-spacing: 0;
  width: 100%;
  border-collapse: separate;

  caption {
    padding: 1em 0;
    font-weight: 600;
  }

  td,
  th {
    padding: 1em 2em;
    text-align: left;
    vertical-align: top;

    p:last-child {
      margin-bottom: 0;
    }
  }

  th {
    font-weight: 600;
  }

  thead {
    th {
      padding: 2em;
      vertical-align: middle;
    }
  }

  tbody {
    h2 {
      font-size: 1em;
      letter-spacing: normal;
      font-weight: normal;

      a {
        font-weight: normal;
      }
    }
  }
}

/**
 * 404 Styles
 */
.error404 {
  .site-content .widget_product_search {
    padding: 3em;
    background-color: rgba(#000, 0.025);

    form {
      margin: 0;
    }
  }

  &.right-sidebar .content-area,
  &.left-sidebar .content-area {
    width: 100%;
  }
}

.cat-links,
.tags-links {
  font-size: 0.875em;

  a {
    color: #727272;
    font-weight: 600;
    text-decoration: underline;
  }
}

.byline,
.updated:not(.published) {
  display: none;
}

.single,
.group-blog {
  .byline {
    display: inline;
  }
}

.page-links {
  clear: both;
  margin: 0 0 1em;
}

/**
 * Forms
 */
form {
  margin-bottom: 3em;
}

button,
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.wc-block-grid__products .wc-block-grid__product .wp-block-button__link,
.added_to_cart {
  border: 0;
  border-radius: 0;
  background: none;
  background-color: $color_body;
  border-color: $color_body;
  color: #fff;
  cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  padding: 0.5em;
  text-decoration: none;
  font-weight: 600;
  text-shadow: none;
  display: inline-block;
  -webkit-appearance: none;

  &::after {
    display: none;
  }

  &.cta,
  &.alt {
    background-color: $color_links;
    border-color: $color_links;

    &:hover {
      background-color: $color_links;
    }
  }

  &:hover {
    color: #fff;
  }

  &.loading {
    opacity: 0.5;
  }

  &.small {
    padding: -3em -1em;
    font-size: -1em;
  }

  &.disabled,
  &:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;

    &:hover {
      opacity: 0.5 !important;
    }
  }
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */

  & + label {
    margin: 0 0 0 -4em;
  }
}

/**
 * Media
 */
img {
  border-radius: 3px;
}
